.DS_Store
/captures
.gradle/
.idea/libraries/
.idea/workspace.xml
CommonUtil.iml
build/
commonutil/commonutil.iml
commonutil/libs/
commonutil/src/main/res/drawable/
local.properties
.idea/dictionaries/
